# Check Config for Python HANA ML APL

<div class="alert alert-block alert-info">
<b>Client side</b> <br>
</div>

### Python version

In [1]:
from platform import python_version
print(python_version())

3.7.4

### HANA ML API version

In [2]:
import hana_ml
print(hana_ml.__version__)

2.5.20062600

<div class="alert alert-block alert-info">
<b>Server side</b> <br>
</div>

### Versions of HANA database and APL

In [3]:
# Connect using the HANA secure user store
from hana_ml import dataframe as hd
conn = hd.ConnectionContext(userkey='MLMDA_KEY')
# Check versions
import hana_ml.algorithms.apl.apl_base as apl_base
df = apl_base.get_apl_version(conn)
df = df[df.name.isin(['HDB.Version','APL.Version.ServicePack'])]
df.columns = ['Item','Value']
df.style.hide_index()

### Main APL Functions

In [4]:
cmd = "select FUNCTION_NAME from SYS.AFL_FUNCTIONS where AREA_NAME='APL_AREA'"
hdf = conn.sql(cmd)
df = hdf.filter("FUNCTION_NAME in ('CREATE_MODEL_AND_TRAIN','APPLY_MODEL','FORECAST')").collect()
df.style.hide_index()

###  Roles Granted to the APL database user

In [5]:
cmd = 'select GRANTOR, GRANTEE, GRANTEE_TYPE, ROLE_NAME from sys.granted_roles'
hdf = conn.sql(cmd)
hdf.collect().style.hide_index()

### APL Samples Tables (optional)

In [6]:
cmd = "SELECT SCHEMA_NAME, TABLE_NAME FROM SYS.TABLES WHERE SCHEMA_NAME = 'APL_SAMPLES' ORDER BY 1,2"
hdf = conn.sql(cmd)
hdf.head(4).collect().style.hide_index()